<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Stdout" target="SYSTEM_OUT">
            <ThresholdFilter level="error" onMatch="DENY" onMismatch="ACCEPT"/>
            <PatternLayout pattern="%msg%n"/>
        </Console>

        <Console name="Stderr" target="SYSTEM_ERR">
            <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%msg%n{ERROR=red bold, FATAL=red bold}"/>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="org.semanticweb.owlapi" level="info" additivity="false">
            <AppenderRef ref="Stdout"/>
            <AppenderRef ref="Stderr"/>
        </Logger>

        <Root level="debug">
            <AppenderRef ref="Stdout"/>
            <AppenderRef ref="Stderr"/>
        </Root>
    </Loggers>
</Configuration>
