/* styles.css */
.button {
    -fx-text-fill: blue;
    -fx-background-color: linear-gradient(to bottom, #f0f8ff, #d3e3f1);
    -fx-border-color: #8186d0;
    -fx-border-width: 1px;
    -fx-background-radius: 3px;
    -fx-border-radius: 3px;
    -fx-padding: 5 10 5 10;
    -fx-font-size: 12px;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: linear-gradient(to bottom, #d3e3f1, #b0c4de);
}

.button:pressed {
    -fx-background-color: linear-gradient(to bottom, #b0c4de, #a2b9cc);
}

.cancelButton {
    -fx-font-size: 14px;
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-padding: 5px;
    -fx-border-color: darkred;
    -fx-border-width: 2px;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-cursor: hand;
}

.cancelButton:hover {
    -fx-padding: 5px;
    -fx-border-color: darkred;
    -fx-border-width: 2px;
    -fx-border-radius: 8px;
    -fx-background-color: linear-gradient(to bottom, #8B0000, #B22222);
    -fx-background-radius: 8px;
}

.container {
    -fx-border-color: rgb(128, 128, 128);
    -fx-border-width: 1;
    -fx-background-color: #f0f0f0;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.zoom-slider {
    -fx-control-inner-background: #fefefe;
    -fx-tick-label-fill: blue;
    -fx-tick-mark-fill: blue;
    -fx-track-color: linear-gradient(to bottom, #99bad8, #5679a2);
    -fx-thumb-color: #005cbf;
}

.zoom-slider .thumb {
    -fx-shape: "M 0 0 L 20 0 L 30 10 L 20 20 L 0 20 Z";
    -fx-stroke: blue;
    -fx-background-color: #d3e3f1;
    -fx-background-insets: 0;
    -fx-background-radius: 1.5em; /* Hace que los bordes sean redondeados */
    -fx-border-color: #005cbf;
    -fx-pref-width: 15px; /* Ajusta el tamaño del pulgar */
    -fx-pref-height: 15px;
}

.zoom-slider .track {
    -fx-pref-width: 10px;
}

.custom-combo-box {
    -fx-font-family: 'DejaVu Sans';
    -fx-font-size: 12px;
    -fx-font-weight: normal;
    -fx-background-color: white;
    -fx-border-color: rgb(128, 128, 128);
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.custom-combo-box .list-cell {
    -fx-font-family: 'DejaVu Sans';
    -fx-font-size: 12px;
    -fx-font-weight: normal;
}

.tooltipDesign {
    -fx-background-color: lightblue;
    -fx-text-fill: black;
    -fx-padding: 10px;
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-font-weight: bold;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-font-size: 12px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.75), 10, 0, 0, 1);
}

.tooltipDesign .content {
    -fx-background-color: lightblue;
}

.tooltipDesign .label {
    -fx-text-fill: black;
}

.dialog-pane {
    -fx-background-color: #f0f0f0;
    -fx-border-color: rgb(128, 128, 128);
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

/* Styling for the header text */
.dialog-pane .header-panel .label {
    -fx-text-fill: blue;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

/* Styling for the content text */
.dialog-pane .content-panel .label {
    -fx-text-fill: black;
    -fx-font-size: 14px;
}

/* Styling for the buttons */
.dialog-pane .button-bar .button {
    -fx-text-fill: blue;
    -fx-background-color: linear-gradient(to bottom, #f0f8ff, #d3e3f1);
    -fx-border-color: #8186d0;
    -fx-border-width: 1px;
    -fx-background-radius: 3px;
    -fx-border-radius: 3px;
    -fx-padding: 5 10 5 10;
    -fx-font-size: 12px;
    -fx-cursor: hand;
}

.dialog-pane .button-bar .button:hover {
    -fx-background-color: linear-gradient(to bottom, #d3e3f1, #b0c4de);
}

.dialog-pane .button-bar .button:pressed {
    -fx-background-color: linear-gradient(to bottom, #b0c4de, #a2b9cc);
}

/* styles.css */

.tab-pane {
    -fx-background-color: white;
    -fx-border-color: blue;
    -fx-border-width: 1px;
    -fx-cursor: hand;
}

.tab-pane .tab {
    -fx-background-color: rgba(224, 224, 249);
    -fx-border-color: blue;
    -fx-border-width: 1px;
}

.tab-pane .tab:selected {
    -fx-background-color: white;
}

.tab-header-background {
    -fx-background-color: rgba(0, 0, 255, 0.2);
    -fx-border-color: transparent transparent blue transparent;
    -fx-border-width: 0 0 1px 0;
}

.tab {
    -fx-background-color: white;
}

.tab:selected {
    -fx-background-color: white;
}
